.footer__column-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    color: white;
    transition: opacity .5s ease;
}

.footer__column-link:hover {
    opacity: 50%;
}