/*div {
    border: red solid 1px;
}*/

.page {
    max-width: 1600px;
    min-width: 1100px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 64px;
    position: relative;
    margin-bottom: 100px;
}

.logo {
    position: absolute;
    display: flex;
    z-index: 2;
}

.logo_place_header {
    height: 32px;
    width: 183px;
    background-image: url(../images/logo_place_header.svg);
    background-position: center;
    background-size: cover;
}

.header__title {
    width: 730px;
    font-size: 102px;
    font-weight: 700;
    line-height: 96px;
    align-self: center;
}

.header__subtitle {
    position: absolute;
    /*align-self: flex-end;*/
    bottom: 30px;
    width: 388px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.link {
    color: #2f80ed;
    text-decoration: none;
}

.main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    /*background-image: url(../images/header-image.png);*/
    height: 608px;
    width: 765px;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.square-pic {
    position: absolute;
    background-color: #2f80ed;
    height: 568px;
    width: 568px;
    right: 0;
    top: 64px;
    z-index: 0;
}

.main {}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}


/*.table__cell_theme_light {
  width: 200px;
  color: black;
  margin-right: 0;
  margin-top: 80px;
}*/

.footer {}
